<section class="grid table-products">
  <div class="row justify-center">
    <div class="col-12 col-lg-10">

      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>SKU</th>
            <th>Nombre del producto</th>
            <th>Precio</th>
            <th>Categoría</th>
          </tr>
        </thead>

        <tbody>
          {{#each products}}
          <tr>
            <td>{{id}}</td>
            <td>{{sku}}</td>
            <td>{{name}}</td>
            <td>L {{price}}</td>
            <td>{{category}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>

    </div>
  </div>
</section>